$red: #D64541;
$blue: #336699;
$yellow: #F4D03F;
$white: #efefef;
$base-unit: 50px;

// Fonts
$script-font: 'DeadheadScriptRegular', serif;
$serif-font-primary: 'QuincySerifRegular', serif;
$sans-font-primary: 'CentumaSansLight', sans-serif;
$sans-font-secondary: 'CentumaSansThin', sans-serif;
$sans-font-bold: 'FalcoBlackSans', sans-serif;

.app-name {
  font-family: $script-font;
  font-size: 4em;
  font-style: italic;
}
.app-desc {
  font-family: $serif-font-primary;
  text-align: center;
  margin-bottom: $base-unit;
}
.ph {
  font-family: $sans-font-bold;
  font-size: 1.5em;
  letter-spacing: -5px;
  color: $red;
}


.hero {
  min-height: $base-unit * 6;
  padding-top: $base-unit * 0.75;

  .hero-title,
  .hero-desc {
    color: $white;
    text-align: center;
  }
}

.alert {
  text-align: center;
  font-weight: bold;
}

img {
  width: 100%;
}

.project-view {
  color: $white;

  p {
    text-align: justify;
  }
}

.volunteer-dashboard {
    .list {
      .item {
        margin-bottom: $base-unit / 4;
      }
    }
}
