.pane {
  background-color: $blue;
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0));
  font-family: $sans-font-primary;
  letter-spacing: 1px;
  color: $white;

  .title {
    color: $white;
    font-family: $sans-font-primary;
    font-weight: bold;
    font-size: 1em;
    text-align: center;
    margin-bottom: $base-unit / 4;
  }

  .button {
    border: 3px solid $white;
    background: transparent;
    border-radius: 6px;
    color: $white;
    text-transform: uppercase;

    &:hover,
    &:focus {
      background: transparent;
      color: darken($white, 10%);
    }
  }
}

.scroll {
  // margin-top: $base-unit / 4;
}

.bar {
  text-align: center;
  background: transparent;
  color: $white;
  border: none;
}
