<ion-view name="login">
  <ion-content class="list">
      <h2>Login</h2>
      <label class="item item-input item-floating-label">
        <span class="input-label">Username</span>
        <input type="text" placeholder="Username">
      </label>
      <label class="item item-input item-floating-label">
        <span class="input-label">Password</span>
        <input type="password" placeholder="Password">
      </label>
      <button class="button button-full button-positive">Login</button>
  </ion-content>
</ion-view>
