<ion-view>
  <ion-content class="list padding">
      <div class="assertive padding" ng-if="error">{{error}}</div>
      <form ng-submit="login(user)">
        <label class="item item-input">
          <input type="text" placeholder="Username" ng-model="user.username">
        </label>
        <label class="item item-input">
          <input type="password" placeholder="Password" ng-model="user.password">
        </label>
        <button type="submit" class="button button-full">Login</button>
        <a ui-sref="index" class="button button-full">Back</a>
      </form>
  </ion-content>
</ion-view>
