<ion-view view-title="View Project" class="project-view">
  <ion-content class="padding">
    <h2 class="title">{{project.title}}</h2>
    <p>{{project.desc}}</p>
    <img ng-src="img/{{project.img}}" alt="">
    <div>
      <strong class="title">Volunteer Opportunities:</strong>
      <ul>
        <li ng-repeat="job in project.jobs">{{job.name}}</li>
      </ul>
    </div>
    <button class="button button-full" ui-sref="project.signup({projectId: project.id})" ng-hide="isSignedUp">Sign me up!</button>
    <button class="button button-full disabled balanced" ng-show="isSignedUp">You have signed up for this project</button>
    <a ui-sref="volunteer.dashboard" class="button button-full">Back</a>
  </ion-content>
</ion-view>